/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 55px;
  font-weight: normal;
  margin-top: 5px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.tablefill { 
    background-color: #F5F6F6;
    vertical-align: bottom
    ; }

.#textbox { 
  background-color: #D5EFFC;
  border-bottom: 1px;
  border-bottom-color: #AEB2B2;
  ; }

/* Applies to the element with <... id="someid"> specified. */
#blue { color: #2066B1; }
