input[type=text] {
  display: inline-block;
  border: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  background-color: #749C6B;
  border-bottom: 1px;
  border-color: #000000;
  vertical-align: bottom;

}
input[type=radio] {
  border: 1px solid #000000;
  padding: 0.5em;
  display: inline-block;
}
